* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --primary: rgb(68, 179, 212);
    --secondary: rgb(28, 120, 163);
    --tertiary: rgb(176, 221, 247);
    --dark: rgb(7, 6, 6);
    --light: rgb(255, 252, 247);
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(208, 233, 232, 0.87);
}
p {
    margin: 0;
}

/*header*/
header{
    padding: 20px 25px;
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}
header h1{
    font-weight: bolder;
    font-size: 36px;
    color: var(--dark);
    margin: 0px;
    text-shadow: 0 0 10px rgba(73, 70, 70,0.5);
}
header a{
    color: var(--dark);
    text-decoration: none;
}
header nav{
    margin: 7px 0px;
}
header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a{
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55w;
    text-shadow: 0 0 10px rgba(73, 70, 70,0.5);
}
header nav ul li a:hover {
    background: var(--secondary);
    color: var(--light);
    transition: all 0.35s ease;
    border-radius: 15px;
    text-shadow: none;
}
nav a:last-child {
    margin-right: 0;
}
/*Jumbotron*/
.hero {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/hero-image.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    justify-content: center;
    align-items: center;
}
.profile-pic {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    display: block;
    border-radius: 20%;
}
.intro h2, .intro h4{
    color: rgba(176, 221, 247, 0.8);
    text-shadow: 1px 1px 8px rgba(208, 236, 255, 0.89);
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    border-bottom: 10px;
    line-height: 1.1;
}
/*about me and work*/
.about, .work {
    font-size: 25px;
    color: var(--secondary-color);
    border-bottom: 3px solid;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}
.page-bio, .myinfo{
    background-color: var(--secondary);
    background-size: cover;
    background-position: center;
    width: auto;
}
/*about me and work end*/

/*about me section*/
.page-bio{
    border-radius: 0 0 15px 15px;
}
.about-me {
    line-height: 1.7;
    color: var(--tertiary-color);
    width: 80%;
    font-size: 15px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}
/*work section*/
.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 8px;
    flex-direction: column;
    width: 100%;
}
.firstbox{
    display: flex;
    flex-wrap: wrap;
}
.smboxes {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    grid-template-rows: 200px 200px;
    grid-template-columns: 200px 200px;
    padding: 20px;
}
.links img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    border-radius: 10px 10px 10px 10px;
}
.firstbox img{
    width: 400px;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px;
}
.links {
    position: relative;
}
.img-title{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: 10px 10px 10px 10px;
}
.img-title--blur{
    backdrop-filter: blur(5px);
}
.img-title:hover{
    opacity: 1;
}
.img-title > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}
.img-title:hover > * {
    transform: translateY(0);
}
.text{
    font-size: 1em;
    font-weight: bold;
}


/*contact*/
footer {
    width: 100%;
    color: var(--dark);
    text-align: center;
    border-radius: 15px 15px 0 0;
 }
 .footer a{
     color: var(--dark);
     text-decoration: none;
 }
 .contact {
     font-size: 25px;
     color: var(--secondary-color);
     border-bottom: 3px solid;
     padding-top: 10px;
     padding-bottom: 15px;
     text-align: center;
     margin: 0 auto 10px auto;
     width: 50%;
     text-shadow: 0 0 10px rgba(73, 70, 70,0.5);
 }
 .socials{
     align-items: center;
     line-height: 1.5;
     padding: 10px 15px;
 }
 .socials li{
     list-style: none;
     text-transform: uppercase;
     padding: 0;
     display: inline;
     padding: 10px 15px;
 }
 .socials li:hover , .socials li a:hover{
     background: var(--primary);
     color: var(--light);
     transition: all 0.35s ease;
     border-radius: 15px;
     text-shadow: none;
 }
 /*Media Query for smaller desktops screens and smaller*/
 @media screen and (max-width: 980px){
    main, header, footer{
        padding: 15px 10px;
        justify-content: center;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul{
        margin-top: 10px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
 }
 /*Media Query for tablets and smaller*/
 @media screen and (max-width:768px){
    main, header, footer{
        padding: 10px 5px;
    }
    .container, .smboxes{
        padding: 30px 15px;
    }
 }

 /*Media Query for mobile phones and smaller*/
 @media screen and (max-width:575px){
     header {
         padding: 5px 3px;
     }
     main, footer {
         padding: 10px 5px;
     }
     .firstbox img {
         width: 250px;
     }
     .smboxes {
        display: flex;
        flex-direction: column;
     }
 }

